.image-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 76rem;
  height: 37.5rem;
  object-fit: cover;
}
.text {
  position: relative;
  line-height: 1.25rem;
  font-weight: 500;
}
.a-badge {
  border-radius: var(--br-7xs);
  background-color: var(--theme-1-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-3xs);
}
.heading,
.title {
  align-self: stretch;
}
.title {
  position: relative;
  font-size: var(--heading-h1-semibold-size);
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--secondary-800);
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.image-icon1 {
  position: relative;
  border-radius: var(--br-9xl);
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
}

.a-author {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.a-author,
.content4,
.short-info {
  display: flex;
  justify-content: flex-start;
}
.short-info {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
  font-size: var(--text-base-regular-size);
  color: var(--secondary-400);
}
.content4 {
  position: absolute;
  top: 22.5rem;
  left: 4rem;
  border-radius: var(--br-xs);
  background-color: var(--white);
  box-shadow: var(--shadow-md);
  border: 1px solid var(--secondary-100);
  box-sizing: border-box;
  width: 37.38rem;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.5rem;
  gap: var(--gap-5xl);
}
.content3 {
  position: relative;
  width: 76rem;
  height: 41.5rem;
  text-align: left;
  color: var(--white);
}
.advertisement,
.you-can-place {
  position: relative;
  line-height: 1.25rem;
}
.you-can-place {
  font-size: var(--heading-h4-semibold-size);
  line-height: 1.5rem;
  font-weight: 600;
}
.x100 {
  position: relative;
  font-size: var(--text-lg-semi-bold-size);
  line-height: 1.63rem;
}
.info,
.o-ads-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.o-ads-space {
  border-radius: var(--br-xs);
  background-color: var(--secondary-100);
  width: 46.88rem;
  height: 6.25rem;
  justify-content: center;
}
.title1 {
  flex: 1;
  position: relative;
  line-height: 1.75rem;
}
.heading1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.m-post-card-grid-child {
  position: relative;
  border-radius: var(--br-7xs);
  width: 22.5rem;
  height: 15rem;
  object-fit: cover;
}
.a-badge1 {
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-3xs);
}
.title2 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h3-semibold-size);
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--secondary-800);
}
.content7,
.m-post-card-grid {
  display: flex;
  flex-direction: column;
}
.content7 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-xl);
}
.m-post-card-grid {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--secondary-100);
  box-sizing: border-box;
  width: 24.5rem;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  gap: var(--gap-base);
}
.content6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.content6 {
  flex-direction: column;
  font-size: var(--body-b5-regular-size);
  color: var(--theme-1-primary);
}
.a-button {
  border-radius: var(--br-7xs);
  border: 1px solid rgba(105, 106, 117, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  font-size: var(--text-base-regular-size);
  color: var(--secondary-500);
}
.content2,
.o-post-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.o-post-layout {
  gap: 2rem;
  text-align: left;
  font-size: var(--heading-h3-semibold-size);
  color: var(--secondary-800);
}
.content2 {
  gap: var(--gap-61xl);
}

.info2 {
  width: 18.06rem;
  gap: var(--gap-5xl);
}
.info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.mail-icon {
  position: relative;
  display: none;
}

.mail-icon {
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
}

.divider {
  position: relative;
  border-right: 1px solid var(--secondary-100);
  box-sizing: border-box;
  width: 0.06rem;
  height: 1.56rem;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.home-page {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 217rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-base-regular-size);
  color: var(--secondary-600);
  font-family: var(--body-b3-regular);
}
