@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-base-regular: "Plus Jakarta Sans";
  --body-b3-regular: "Work Sans";
  --body-text-sm-14-regular: Inter;

  /* font sizes */
  --text-base-regular-size: 1rem;
  --heading-h4-semibold-size: 1.25rem;
  --body-b5-regular-size: 0.88rem;
  --text-lg-semi-bold-size: 1.13rem;
  --heading-h3-semibold-size: 1.5rem;
  --heading-h1-semibold-size: 2.25rem;

  /* Colors */
  --white: #fff;
  --secondary-50: #f6f6f7;
  --secondary-1001: #f4f4f5;
  --secondary-100: #e8e8ea;
  --secondary-200: #dcdddf;
  --secondary-600: #3b3c4a;
  --secondary-800: #181a2a;
  --secondary-900: #141624;
  --theme-1-primary: #4b6bfb;
  --color-mediumslateblue-100: rgba(75, 107, 251, 0.05);
  --secondary-500: #696a75;
  --secondary-4001: #a1a1aa;
  --secondary-400: #97989f;

  /* Gaps */
  --gap-5xl: 1.5rem;
  --gap-45xl: 4rem;
  --gap-base: 1rem;
  --gap-3xs: 0.63rem;
  --gap-xl: 1.25rem;
  --gap-11xl: 1.88rem;
  --gap-5xs: 0.5rem;
  --gap-xs: 0.75rem;
  --gap-9xs: 0.25rem;
  --gap-61xl: 5rem;
  --gap-21xl: 2.5rem;

  /* Paddings */
  --padding-13xl: 2rem;
  --padding-xs: 0.75rem;
  --padding-xl: 1.25rem;
  --padding-base: 1rem;
  --padding-5xs: 0.5rem;
  --padding-9xs: 0.25rem;
  --padding-3xs: 0.63rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-9xl: 28px;
  --br-81xl: 100px;
  --br-8xs: 5px;

  /* Effects */
  --shadow-md: 0px 12px 24px -6px rgba(24, 26, 42, 0.12);
}
